<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
    <p> {{post_body}}</p>
    <div class="card-body">
      <p>By: {{user_id}}</p>
      <p>date: {{date}}</p>
    </div>
  </a>
</section>